
//Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

//Variables
@import "variables";

//Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.single-route-body {
    text-align: left;
    padding: 20px 30px 20px 30px;
}

.wrap {
	overflow-wrap: break-word;
}

